/*Toda la pagina*/
* {
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    color: cadetblue;
}

a:visited {
    color: blanchedalmond;
}

/*INDEX.HTML*/

.tituloEjercicios {
    display: flex;
    justify-content: center;
    background-color: #2a4740;
}

.descripcionEjercicio {
    display: flex;
    background-color: #6a8a82;
    justify-content: center;
}

.contenedorImagen {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.contenedorLinks {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itemLink {
    text-align: center;
    background-color: #6a8a82;
    padding: 10px 20px;
    border: #2a4740 5px solid;
}


.items {
    color: white;
    font-size: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Ejercicio 1 */

.contenedorEjercicio1 {
    border-style: solid;
    margin: 80px;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.item1 {
    background-color: red;
}

.item2 {
    background-color: blue;
}

.item3 {
    background-color: green;
}

/* Ejercicio 2 */

.contenedorEjercicio2 {
    border-style: solid;
    margin: 80px;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.item21 {
    background-color: red;
}

.item22 {
    background-color: blue;
}

.item23 {
    background-color: green;
}

/* Ejercicio 3 */

.contenedorEjercicio3 {
    border-style: solid;
    margin: 80px;
    display: flex;
    justify-content: space-between;
}

.item31 {
    background-color: red;
   
}

.item32 {
    background-color: blue;
}

.item33 {
    background-color: green;
}