/* Todo el documento */
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
/* Header */
header {
  font-size: large;
  text-align: center;
  background-color: #6a8a82;
}
/* Body */
body {
  background-color: #282726;
}
/* Seccion Nombre e Imagen*/
.imagenyNombre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Nombre Cv*/
.nombreCv {
  text-align: center;
  font-style: oblique;
  text-decoration: underline;
  text-shadow: #6a8a82 2px 1px;
}
/* Imagen Cv */
.imagenCv {
  width: 30vw;
  height: auto;
}
/* Datos Personales Principales */
.datosPersonales {
  text-align: center; 
}
/* links */
a:link {
  color: blue;
}
a:visited {
  color: red;
}

/* Formulario */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Whatsapp  */
.whatsapp {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Boton Formulario */

button {
  border-radius: 6px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #6a8a82;
  border-radius: 6px;
  border: 2px solid #2a4740;
}
